In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load Data
df_b = pd.read_csv('../datasets/filter_data/tucson_business.csv')
df= pd.read_csv('../datasets/filter_data/tucson_reviews.csv')
users = pd.read_csv('../datasets/filter_data/tucson_users.csv')

In [3]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,UBp0zWyH60Hmw6Fsasei7w,4Uh27DgGzsp6PqrH913giQ,otQS34_MymijPTdNBoBdCw,4,0,2,0,The bun makes the Sonoran Dog. It's like a snu...,2011-10-27 17:12:05
1,ymhbOMW63B_vGaRFR3XT0A,yZdAhQ_KmKuCZmbBy9YDQg,5Ce3lZksYVkCbrihqylVHQ,5,0,0,0,I just started going to Sushi Nara this month ...,2014-07-25 17:56:26
2,ypFqmURIY41F4pWaMW1VrQ,hToW2eoTAYlOcuNz7I73Cg,7L1kXfwU5XM6f6Jxo_L7Yg,5,1,0,0,We've been coming here since I was a kid. The ...,2015-07-03 22:36:04
3,M7h8K7PrLrN8yQb3RhHLdA,CysTz612pTix75Fye6-D4Q,WLiqfxv_GhFFA5sm878a2w,5,0,1,1,Blew $80 on food for the family was worth it f...,2013-12-29 03:15:34
4,_u331rYIp7qJ7aWvLup9Ug,BUpAhzsbbKbTqyBjT8YnNQ,wa_bwyY57etHjtJ2Fw0E3g,5,0,0,0,Called in a Mediterranean chicken shawarma. Go...,2014-04-01 05:00:09

In [4]:
df_b.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,f82dhKNiUXsDVPMLqKYiIQ,Sher-e-Punjab,853 East Grant Rd,Tucson,AZ,85719,32.250960,-110.959158,4.0,446,1,"{'RestaurantsAttire': ""'casual'"", 'BusinessAcc...","Restaurants, Salad, Pakistani, Indian, Cocktai...","{'Tuesday': '16:0-21:0', 'Wednesday': '16:0-21..."
1,Y3ZCO17N1_T_Ms1JmswwzA,Taqueria Pico De Gallo,2618 S 6th Ave,Tucson,AZ,85713,32.192017,-110.968540,4.0,397,1,"{'RestaurantsGoodForGroups': 'True', 'Caters':...","Mexican, Restaurants","{'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ..."
2,lhsQkb5nhf-Kd5OvgB9MNg,Sachiko Sushi,3210 E Valencia Rd,Tucson,AZ,85706,32.133679,-110.923443,3.5,191,1,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Japanese, Restaurants, Sushi Bars","{'Monday': '11:0-20:0', 'Tuesday': '11:0-20:0'..."
3,XyGRDrgCK0z4CiA6nhwEaw,Persian Room Fine Dining,"9290 N Thornydale Rd, Ste 100",Tucson,AZ,85742,32.375016,-111.046320,4.5,258,1,"{'Alcohol': ""'full_bar'"", 'GoodForMeal': ""{'de...","Restaurants, Persian/Iranian, Mediterranean","{'Monday': '11:0-21:30', 'Tuesday': '11:0-21:3..."
4,-3-6BB10tIWNKGEF0Es2BA,The 81 Hong Kong Cafe,"625 E Wetmore Rd, Ste 109",Tucson,AZ,85705,32.288540,-110.963144,4.0,133,1,"{'Alcohol': ""u'none'"", 'DogsAllowed': 'False',...","Coffee & Tea, Asian Fusion, Food, Bubble Tea, ...","{'Monday': '0:0-0:0', 'Wednesday': '10:0-21:0'..."

In [5]:
users.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,AUi8MPWJ0mLkMfwbui27lg,John,109,2010-01-07 18:32:04,154,20,23,NaN,"gy5fWeSv3Gamuq9Ox4MV4g, lMr3LWU6kPFLTmCpDkACxg...",4,...,0,0,0,0,1,6,3,3,0,0
1,x7YtLnBW2dUnrrpwaofVQQ,Ronskee,37,2010-05-06 00:40:56,56,29,29,NaN,"EPBLDry-ObheloH-NuvbvQ, 0GHsxjCk-Ynzx4Ihj8tjPQ...",9,...,1,0,0,0,12,33,66,66,1,12
2,XLs_PhrJ7Qwn_RfgMM7Djw,Weili,90,2009-07-12 14:34:54,71,21,19,NaN,"gTX68_Us2eI2KjY21aOQ7g, e4nHt3ErihX7II-MHXVM1w...",1,...,0,0,0,0,1,3,0,0,0,0
3,QJI9OSEn6ujRCtrX06vs1w,J,1982,2007-03-19 18:15:32,14004,6466,9879,2010,"RyPeT_ICAtX8ah9dhDpEFw, W8r4aKPZFT3GPIQQDbqB6Q...",316,...,98,156,52,68,786,3674,2093,2093,562,1509
4,KXZ8A8h7Q9ZJRU5TM9asjw,Joanne,102,2010-03-20 17:40:40,150,42,30,NaN,"2N4UPgpSHFYJ1OZ0WcvTEQ, JgZ1-9Ii2wCzHE2ylZb6qQ...",7,...,0,0,0,0,5,6,2,2,0,2

In [6]:
df_join=df.merge(df_b[["business_id","name"]],how="inner",on="business_id")
df_join.head(10)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,name
0,UBp0zWyH60Hmw6Fsasei7w,4Uh27DgGzsp6PqrH913giQ,otQS34_MymijPTdNBoBdCw,4,0,2,0,The bun makes the Sonoran Dog. It's like a snu...,2011-10-27 17:12:05,BK Tacos
1,jlvaJo1I56NrZ1Q1CUuuRw,17jzGkFYCvB5Q0fjJEzVAA,otQS34_MymijPTdNBoBdCw,4,0,0,0,I was told this place is a must for a Sonoran ...,2017-06-17 17:17:29,BK Tacos
2,50Lt-rPZMc5Er87Cgx-vXg,zzeRzizkihWHz9bVAvbcVw,otQS34_MymijPTdNBoBdCw,4,0,0,0,This place is a very nice sit down or take out...,2015-03-18 23:51:12,BK Tacos
3,a1dUT4LsiNr-l2PHUPdSHg,oCCyoiv1E9sdGvyBRbVhjQ,otQS34_MymijPTdNBoBdCw,5,1,0,0,"Quality ingredients. \n\nFirst off, BK Carne A...",2015-06-21 06:02:00,BK Tacos
4,jkHR06nAg_zc5t3sl05low,aEawmwSYEchuKSS8psHiMw,otQS34_MymijPTdNBoBdCw,5,0,0,0,"This place is the best, it's fantastic. 1$ bee...",2016-05-19 17:21:36,BK Tacos
5,Jdv79tiBnTKHKZoMih_Fqg,NiEs4XaVXTPLPCvuBu0DpA,otQS34_MymijPTdNBoBdCw,3,2,0,0,I consider myself a connoisseur of both Mexica...,2011-09-25 23:56:50,BK Tacos
6,gUSBzQd61OMtzt7LLBD48w,T-5xuMYhAaq5RgY7G-jVYQ,otQS34_MymijPTdNBoBdCw,3,0,0,0,We were feeling hungry after a long day and de...,2016-02-24 01:24:08,BK Tacos
7,QcHd9AWK7a0H6seEZSFyAg,qrrcGq6CF5MkSjz5_dhRfw,otQS34_MymijPTdNBoBdCw,2,2,1,0,Let me start by saying I have been eating at B...,2016-02-24 00:29:40,BK Tacos
8,rSrHaeGwbdHIQcfCniCOhw,W_T-Mh6TR0MSQfaczrcYqQ,otQS34_MymijPTdNBoBdCw,5,0,0,0,We ordered:\n-bean burro\n-caramelo de pollo\n...,2014-06-29 07:36:06,BK Tacos
9,rHe82CFjUH_tcDMXvxHs4Q,Fax_SozRp6wuzTOdFt1zUA,otQS34_MymijPTdNBoBdCw,3,0,0,0,it was just ok kind of slow on service when th...,2012-08-16 02:53:24,BK Tacos

In [7]:
df_join_2=df_join.drop(columns=['review_id','useful', 'funny','cool', 'text', 'date'])
df_join_2.head()

                  user_id             business_id  stars      name
0  4Uh27DgGzsp6PqrH913giQ  otQS34_MymijPTdNBoBdCw      4  BK Tacos
1  17jzGkFYCvB5Q0fjJEzVAA  otQS34_MymijPTdNBoBdCw      4  BK Tacos
2  zzeRzizkihWHz9bVAvbcVw  otQS34_MymijPTdNBoBdCw      4  BK Tacos
3  oCCyoiv1E9sdGvyBRbVhjQ  otQS34_MymijPTdNBoBdCw      5  BK Tacos
4  aEawmwSYEchuKSS8psHiMw  otQS34_MymijPTdNBoBdCw      5  BK Tacos

## Every Restaruant has an avg users rating of 2.85

In [8]:
df_join_2.groupby('user_id')['stars'].count().mean()

2.7784513840428007

In [9]:
ratings = df_join_2['stars']
users = df_join_2['user_id']
items = df_join_2['business_id']

In [10]:
from sklearn.preprocessing import LabelEncoder

# heavy lifting encoders
user_encoder = LabelEncoder()
item_encoder = LabelEncoder()

# preparation for the csr matrix
u = user_encoder.fit_transform(users)
i = item_encoder.fit_transform(items)
lu = len(np.unique(u))
li = len(np.unique(i))

In [11]:
from scipy.sparse import csr_matrix

class InteractionMachine:
    def __init__(self):
        self.user_encoder = LabelEncoder()
        self.item_encoder = LabelEncoder()

    def __repr__(self):
        return 'InteractionMachine()'

    def build(self, users, items, ratings):
        u = self.user_encoder.fit_transform(users)
        i = self.item_encoder.fit_transform(items)
        self.n_users = len(np.unique(u))
        self.n_items = len(np.unique(i))
        self.interactions = csr_matrix((ratings, (u, i)), shape=(self.n_users, self.n_items))
        return self

In [12]:
im = InteractionMachine()

im.build(df_join_2['user_id'], df_join_2['business_id'], df_join_2['stars'])

interactions = im.interactions

In [13]:
interactions.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 5],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [14]:
from lightfm import LightFM
from lightfm.datasets import fetch_movielens
from lightfm.evaluation import precision_at_k

C:\ProgramData\Anaconda3\lib\site-packages\lightfm\_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn(

In [15]:
from scipy.sparse import csr_matrix

In [16]:
# do this
from lightfm.cross_validation import random_train_test_split

In [17]:
seed = 1001
train, test = random_train_test_split(interactions, test_percentage=0.2)

In [18]:
train

<68784x702 sparse matrix of type '<class 'numpy.int64'>'
	with 146066 stored elements in COOrdinate format>

In [19]:
test

<68784x702 sparse matrix of type '<class 'numpy.int64'>'
	with 36517 stored elements in COOrdinate format>

In [20]:
model = LightFM()
model.fit(train, epochs=50)

In [21]:
from lightfm.evaluation import auc_score, precision_at_k

In [22]:
auc_score(model, test).mean()

0.6775829

In [23]:
df_join_2.sample(n=5)

,user_id,business_id,stars,name
16734,onS4xr-XkYCAT_V9qOr24A,-3-6BB10tIWNKGEF0Es2BA,5,The 81 Hong Kong Cafe
103349,usG7MqL3wkKw1MGHLSJ8jQ,14QP5lOdrTAVVCDDuHIAUg,4,Tucson Tamale Company
121144,wpjZ1hqXIg1PiQXOh24QXA,u6P6I5PZnSlnILY5nFWBJA,4,Calle Tepa
9222,nadQDvwqxvoKU8DtBJ6pMA,3StNEgKAwpCFR1q0urmJrw,4,Raijin Ramen
29925,hzxPlmuJ06a5bPjCpS7Zug,yl0yqngQGbW2hPmf5L427g,1,Rusty's Family Restaurant & Sports Grille

In [24]:
df_join_2[df_join_2['user_id'] == 'XnDfNeY1xESGV_hwXReYvg']

,user_id,business_id,stars,name
48374,XnDfNeY1xESGV_hwXReYvg,c4xAYwO_s8HEmOfCLVAhCA,4,Ha Long Bay
54246,XnDfNeY1xESGV_hwXReYvg,Hi4AgS-uR-lEOF4oZl546g,4,China Pasta House

In [25]:
one_user = 'XnDfNeY1xESGV_hwXReYvg'

In [26]:
user_num = int(im.user_encoder.transform([one_user])[0])
user_num

37401

In [27]:
preds = model.predict(user_num, list(range(im.n_items)))
preds = pd.DataFrame(zip(preds, im.item_encoder.classes_), columns=['pred', 'business_id'])
preds = preds.sort_values('pred', ascending=False)
preds.head(10)

         pred             business_id
333  6.310380  UCMSWPqzXjd7QHq7v8PJjQ
252  6.077551  LZzDvgfpkd4nI3E4L9wF1w
612  5.832349  tV46IhCfHbsx_af-pMupiw
697  5.798071  zZ01WQlcpI1_n806WKV3bA
549  5.747546  muxda1cSVtplETqTfYVgZA
356  5.716430  WSx9-iYYyST_umny9sJBFg
314  5.678778  Rv8bW3pkzpi5dZu5ckbgtA
495  5.640721  hyeo7JQr5uLp-St1MibYAA
664  5.520570  wj8XtPyuREj8_0GQz3LZ6w
508  5.468550  j8feOxyJqlIJWOi8su2qzw

In [28]:
resultado=preds.merge(df_join_2[["business_id","name"]],how="inner",on="business_id")
resultado.drop_duplicates(inplace=True)
resultado.head(10)

           pred             business_id                           name
0      6.310380  UCMSWPqzXjd7QHq7v8PJjQ                  Prep & Pastry
2230   6.077551  LZzDvgfpkd4nI3E4L9wF1w                 El Charro Cafe
3847   5.832349  tV46IhCfHbsx_af-pMupiw                 Cafe Poca Cosa
5178   5.798071  zZ01WQlcpI1_n806WKV3bA               Culinary Dropout
6533   5.747546  muxda1cSVtplETqTfYVgZA  HUB Restaurant & Ice Creamery
7862   5.716430  WSx9-iYYyST_umny9sJBFg                     The Parish
9115   5.678778  Rv8bW3pkzpi5dZu5ckbgtA     Guadalajara Original Grill
10268  5.640721  hyeo7JQr5uLp-St1MibYAA                      Baja Cafe
11398  5.520570  wj8XtPyuREj8_0GQz3LZ6w              Wild Garlic Grill
12423  5.468550  j8feOxyJqlIJWOi8su2qzw                Serial Grillers

In [29]:
from copy import deepcopy

model = LightFM(loss='warp')

count = 0
best = 0
scores = []
for e in range(100):
    if count > 5: # patience
        break
    model.fit_partial(train, epochs=10)
    auc_train = auc_score(model, train).mean()
    auc_test = auc_score(model, test).mean()
    print(f'Epoch: {e}, Train AUC={auc_train:.3f}, Test AUC={auc_test:.3f}')
    scores.append((auc_train, auc_test))
    if auc_test > best:
        best_model = deepcopy(model)
        best = auc_test
    else:
        count += 1

model = deepcopy(best_model)

Epoch: 0, Train AUC=0.966, Test AUC=0.675
Epoch: 1, Train AUC=0.980, Test AUC=0.665
Epoch: 2, Train AUC=0.983, Test AUC=0.664
Epoch: 3, Train AUC=0.984, Test AUC=0.664
Epoch: 4, Train AUC=0.985, Test AUC=0.665
Epoch: 5, Train AUC=0.985, Test AUC=0.666
Epoch: 6, Train AUC=0.986, Test AUC=0.667

In [30]:
# Set the number of threads; you can increase this if you have more physical cores available.

## These parameters are obtained after tunning for specific loss through skopt in the bottom chunk
NUM_THREADS = 25
NUM_COMPONENTS = 43
NUM_EPOCHS = 18
ITEM_ALPHA = 2.88752e-6
learning_rate=0.06652
k = 5 # for precision at k

## Pure Collaborative Filtering models

# Logistic loss
model_1 = LightFM(loss='logistic',random_state=seed,
                  item_alpha=ITEM_ALPHA,
                  no_components=NUM_COMPONENTS,
                  learning_rate=learning_rate)

# time it.
%time model_1 = model_1.fit(train,epochs=NUM_EPOCHS,num_threads=NUM_THREADS)


# Import the evaluation routines
from lightfm.evaluation import auc_score

# Compute and print the AUC score
train_auc = auc_score(model_1, train, num_threads=NUM_THREADS).mean()
print('Collaborative filtering train AUC: %s' % train_auc)

test_auc = auc_score(model_1, test,num_threads=NUM_THREADS).mean()
print('Collaborative filtering test AUC: %s' % test_auc)

from lightfm.evaluation import precision_at_k,recall_at_k

print("Train precision: %.4f" % precision_at_k(model_1, train, k=k,num_threads=NUM_THREADS).mean())
print("Test precision: %.4f" % precision_at_k(model_1, test,train_interactions=train, k=k,num_threads=NUM_THREADS).mean())

Wall time: 15.1 s
Collaborative filtering train AUC: 0.68298215
Collaborative filtering test AUC: 0.67751235
Train precision: 0.0202
Test precision: 0.0146

In [31]:
NUM_THREADS = 25
NUM_COMPONENTS = 45
NUM_EPOCHS = 43
ITEM_ALPHA = 1.3846e-6
learning_rate=0.0161445

# BPR loss
model = LightFM(loss='bpr',random_state=seed,
                item_alpha=ITEM_ALPHA,
                no_components=NUM_COMPONENTS,
                learning_rate=learning_rate)

# time it.
%time model = model.fit(train,epochs=NUM_EPOCHS,num_threads=NUM_THREADS)


# Compute and print the AUC score
train_auc = auc_score(model, train, num_threads=NUM_THREADS).mean()
print('Collaborative filtering train AUC: %s' % train_auc)

test_auc = auc_score(model, test,num_threads=NUM_THREADS).mean()
print('Collaborative filtering test AUC: %s' % test_auc)

print("Train precision: %.4f" % precision_at_k(model, train, k=k,num_threads=NUM_THREADS).mean())
print("Test precision: %.4f" % precision_at_k(model, test,train_interactions=train, k=k,num_threads=NUM_THREADS).mean())

Wall time: 57 s
Collaborative filtering train AUC: 0.9711549
Collaborative filtering test AUC: 0.53978294
Train precision: 0.2132
Test precision: 0.0119

In [32]:
NUM_THREADS = 25
NUM_COMPONENTS = 21
NUM_EPOCHS = 16
ITEM_ALPHA = 5.97967e-6
learning_rate=0.033

# Let's fit a WARP model
model = LightFM(loss='warp',random_state=seed,
                item_alpha=ITEM_ALPHA,
                no_components=NUM_COMPONENTS,
                learning_rate=learning_rate)

#  time it.
%time model = model.fit(train,epochs=NUM_EPOCHS,num_threads=NUM_THREADS)



# Compute and print the AUC score
train_auc = auc_score(model, train, num_threads=NUM_THREADS).mean()
print('Collaborative filtering train AUC: %s' % train_auc)

test_auc = auc_score(model, test,num_threads=NUM_THREADS).mean()
print('Collaborative filtering test AUC: %s' % test_auc)


print("Train precision: %.4f" % precision_at_k(model, train, k=k,num_threads=NUM_THREADS).mean())
print("Test precision: %.4f" % precision_at_k(model, test,train_interactions=train, k=k,num_threads=NUM_THREADS).mean())

Wall time: 8.66 s
Collaborative filtering train AUC: 0.98854816
Collaborative filtering test AUC: 0.684455
Train precision: 0.2454
Test precision: 0.0154

In [33]:
df_join_2[df_join_2['name'].str.contains('India')]

,user_id,business_id,stars,name
22175,JQWH6DhhTYPCWNZkfUGEoQ,LgWlFdHfW2ZD8M-2vaMULg,3,Kababeque Indian Grill
22176,cm2iopWNL67Me2dF3R-yZA,LgWlFdHfW2ZD8M-2vaMULg,3,Kababeque Indian Grill
22177,pSFrdEZgE-DzGmHCl7P9lw,LgWlFdHfW2ZD8M-2vaMULg,4,Kababeque Indian Grill
22178,_LSt8ZGpTUsZAVYZqta7jA,LgWlFdHfW2ZD8M-2vaMULg,5,Kababeque Indian Grill
22179,QtpTcaZpt2bIrRZWrLUv4A,LgWlFdHfW2ZD8M-2vaMULg,4,Kababeque Indian Grill
...,...,...,...,...
182654,0DsL6Q1frr0vJ3YpV7pxOg,va0yjjOMfnX_L1P0mWZg8A,5,India Oven
182655,LktM6BhTBjJRT5L-ZBqfNw,va0yjjOMfnX_L1P0mWZg8A,4,India Oven
182656,5I1SaGRqxjh0TUDlspCv7w,va0yjjOMfnX_L1P0mWZg8A,5,India Oven
182657,icjvjcPzt13hZDydUnBTow,va0yjjOMfnX_L1P0mWZg8A,2,India Oven
182658,1f45sImkXIxGVKu4FJmnuw,va0yjjOMfnX_L1P0mWZg8A,4,India Oven

In [34]:
df_join_2[df_join_2['user_id'] == 'JQWH6DhhTYPCWNZkfUGEoQ']

,user_id,business_id,stars,name
22175,JQWH6DhhTYPCWNZkfUGEoQ,LgWlFdHfW2ZD8M-2vaMULg,3,Kababeque Indian Grill
43202,JQWH6DhhTYPCWNZkfUGEoQ,yvBDnfgVQy_hCDGj3Hy00w,2,BrushFire BBQ
43303,JQWH6DhhTYPCWNZkfUGEoQ,C-9LDLDx0n2_3VPddBsGwA,5,Tucson Tamale Company
53597,JQWH6DhhTYPCWNZkfUGEoQ,xHm8DE6x8Qrn_hI6hDlVBw,4,Freddy's Frozen Custard & Steakburgers
84351,JQWH6DhhTYPCWNZkfUGEoQ,JVdRFZ0fZmd36f-s3FtS5A,5,Choice Greens

In [35]:
one_user = 'JQWH6DhhTYPCWNZkfUGEoQ'
user_num = int(im.user_encoder.transform([one_user])[0])
preds = model.predict(user_num, list(range(im.n_items)))
preds = pd.DataFrame(zip(preds, im.item_encoder.classes_), columns=['pred', 'business_id'])
preds = preds.sort_values('pred', ascending=False)
preds.head(10)

         pred             business_id
213  1.485415  JFShrvfR86GnWUaITaGRkA
170  1.225386  EIKbEHnsVg6dcsWopW4lkg
595  1.200820  rwZ_nSNpRtkgzuc2ah27wA
659  1.053652  wa_bwyY57etHjtJ2Fw0E3g
423  0.980932  bXjnfT69E8DJinX-ifOofA
156  0.962767  D44IBRDtEScaWELey5IfCA
671  0.961220  xHm8DE6x8Qrn_hI6hDlVBw
204  0.947357  IWP46EWxNGk81HV7NdahcA
408  0.941423  a8q8Kd7KubA-qHpPAAH81g
345  0.941400  V9XlikTxq0My4gE8LULsjw

In [36]:
one_user = 'QtpTcaZpt2bIrRZWrLUv4A'
user_num = int(im.user_encoder.transform([one_user])[0])
preds = model.predict(user_num, list(range(im.n_items)))
preds = pd.DataFrame(zip(preds, im.item_encoder.classes_), columns=['pred', 'business_id'])
preds = preds.sort_values('pred', ascending=False)
preds.head()

         pred             business_id
603  1.956434  szad9yEwckNw0P3L5FGyNQ
559  1.674333  no8Sj8Eflgka2LFdrYFG_Q
170  1.641273  EIKbEHnsVg6dcsWopW4lkg
253  1.623609  LgWlFdHfW2ZD8M-2vaMULg
435  1.434646  dHpHptXgn1gpuxr_4DrMYQ

In [37]:
df_b.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,f82dhKNiUXsDVPMLqKYiIQ,Sher-e-Punjab,853 East Grant Rd,Tucson,AZ,85719,32.250960,-110.959158,4.0,446,1,"{'RestaurantsAttire': ""'casual'"", 'BusinessAcc...","Restaurants, Salad, Pakistani, Indian, Cocktai...","{'Tuesday': '16:0-21:0', 'Wednesday': '16:0-21..."
1,Y3ZCO17N1_T_Ms1JmswwzA,Taqueria Pico De Gallo,2618 S 6th Ave,Tucson,AZ,85713,32.192017,-110.968540,4.0,397,1,"{'RestaurantsGoodForGroups': 'True', 'Caters':...","Mexican, Restaurants","{'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ..."
2,lhsQkb5nhf-Kd5OvgB9MNg,Sachiko Sushi,3210 E Valencia Rd,Tucson,AZ,85706,32.133679,-110.923443,3.5,191,1,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Japanese, Restaurants, Sushi Bars","{'Monday': '11:0-20:0', 'Tuesday': '11:0-20:0'..."
3,XyGRDrgCK0z4CiA6nhwEaw,Persian Room Fine Dining,"9290 N Thornydale Rd, Ste 100",Tucson,AZ,85742,32.375016,-111.046320,4.5,258,1,"{'Alcohol': ""'full_bar'"", 'GoodForMeal': ""{'de...","Restaurants, Persian/Iranian, Mediterranean","{'Monday': '11:0-21:30', 'Tuesday': '11:0-21:3..."
4,-3-6BB10tIWNKGEF0Es2BA,The 81 Hong Kong Cafe,"625 E Wetmore Rd, Ste 109",Tucson,AZ,85705,32.288540,-110.963144,4.0,133,1,"{'Alcohol': ""u'none'"", 'DogsAllowed': 'False',...","Coffee & Tea, Asian Fusion, Food, Bubble Tea, ...","{'Monday': '0:0-0:0', 'Wednesday': '10:0-21:0'..."

In [38]:
category = []
for i, x in df_b.iterrows():
    lis = x['categories'].split(', ')
    for j in lis:
        if any(substring in j for substring in ['Restaurants','Food']):
            pass
        else:
            value = j
            break
    if value:
        value.strip()
        category.append(value)
    else:
        category = 'None'

In [39]:
category

['Salad',
 'Mexican',
 'Japanese',
 'Persian/Iranian',
 'Coffee & Tea',
 'Cocktail Bars',
 'Sports Bars',
 'Nightlife',
 'Sushi Bars',
 'Delis',
 'Dim Sum',
 'Beer',
 'Mexican',
 'Breakfast & Brunch',
 'Mexican',
 'Arts & Entertainment',
 'Vegetarian',
 'Tacos',
 'Chicken Wings',
 'Mexican',
 'Barbeque',
 'Grocery',
 'Vegetarian',
 'Salad',
 'Mexican',
 'Mexican',
 'Burgers',
 'Seafood',
 'Latin American',
 'Italian',
 'Nightlife',
 'Mexican',
 'Chinese',
 'Cafes',
 'Bars',
 'Italian',
 'French',
 'Breakfast & Brunch',
 'Italian',
 'Mexican',
 'Salad',
 'Hot Dogs',
 'Noodles',
 'Bakeries',
 'Sandwiches',
 'Nightlife',
 'Cheesesteaks',
 'Nightlife',
 'Sports Bars',
 'Event Planning & Services',
 'Diners',
 'Diners',
 'Chinese',
 'Diners',
 'Japanese',
 'Italian',
 'Pizza',
 'Caribbean',
 'Gastropubs',
 'Mexican',
 'Bars',
 'Wine Bars',
 'Cafes',
 'American (New)',
 'Sandwiches',
 'Pubs',
 'American (New)',
 'Street Vendors',
 'Breakfast & Brunch',
 'Vietnamese',
 'American (New)',
 'Seafood',
 'Steakhouses',
 'Sushi Bars',
 'Tex-Mex',
 'Mexican',
 'Donuts',
 'Nightlife',
 'American (Traditional)',
 'Meat Shops',
 'Indian',
 'Thai',
 'Mexican',
 'Latin American',
 'Mexican',
 'Mexican',
 'Bars',
 'Event Planning & Services',
 'Mexican',
 'American (Traditional)',
 'Tacos',
 'Buffets',
 'Teppanyaki',
 'Chinese',
 'Breweries',
 'Chicken Wings',
 'Chinese',
 'African',
 'Nightlife',
 'Sports Bars',
 'Japanese',
 'Ramen',
 'Pizza',
 'Noodles',
 'Burgers',
 'Vietnamese',
 'American (Traditional)',
 'American (Traditional)',
 'American (New)',
 'Cafes',
 'Mediterranean',
 'Greek',
 'Seafood',
 'Bars',
 'Italian',
 'American (Traditional)',
 'Beer',
 'Poke',
 'Mediterranean',
 'Caterers',
 'Wine Bars',
 'Breakfast & Brunch',
 'Breakfast & Brunch',
 'Barbeque',
 'Lounges',
 'Vegetarian',
 'Coffee & Tea',
 'Breakfast & Brunch',
 'Vietnamese',
 'Seafood',
 'Latin American',
 'Pizza',
 'American (Traditional)',
 'Mediterranean',
 'Asian Fusion',
 'Event Planning & Services',
 'Asian Fusion',
 'Polish',
 'Breakfast & Brunch',
 'Bars',
 'Mexican',
 'Mexican',
 'American (Traditional)',
 'Mexican',
 'Seafood',
 'Beer',
 'Sandwiches',
 'Noodles',
 'Japanese',
 'Mexican',
 'Mediterranean',
 'Dim Sum',
 'Beer',
 'American (Traditional)',
 'Coffee & Tea',
 'American (New)',
 'Salad',
 'Event Planning & Services',
 'Breakfast & Brunch',
 'Cheesesteaks',
 'Gluten-Free',
 'Coffee & Tea',
 'Burgers',
 'American (Traditional)',
 'Beer',
 'Coffee & Tea',
 'Italian',
 'Sandwiches',
 'Korean',
 'Nightlife',
 'Barbeque',
 'Burgers',
 'Bakeries',
 'Barbeque',
 'Coffee & Tea',
 'Juice Bars & Smoothies',
 'Chicken Wings',
 'Cafes',
 'Nightlife',
 'Mexican',
 'Salad',
 'Vietnamese',
 'American (Traditional)',
 'American (New)',
 'American (New)',
 'Barbeque',
 'Coffee & Tea',
 'Mexican',
 'Mexican',
 'Pizza',
 'Steakhouses',
 'Desserts',
 'Breakfast & Brunch',
 'Mexican',
 'Wine Bars',
 'Italian',
 'Mexican',
 'Japanese',
 'Local Flavor',
 'Donuts',
 'Chicken Shop',
 'Themed Cafes',
 'Horseback Riding',
 'Barbeque',
 'Mexican',
 'Chinese',
 'Cafes',
 'Burgers',
 'Pizza',
 'Pizza',
 'Steakhouses',
 'Breakfast & Brunch',
 'Japanese',
 'Salad',
 'Hot Dogs',
 'Bars',
 'Nightlife',
 'Steakhouses',
 'Mediterranean',
 'American (Traditional)',
 'Bars',
 'Breakfast & Brunch',
 'French',
 'Gluten-Free',
 'Event Planning & Services',
 'Japanese',
 'American (Traditional)',
 'Gluten-Free',
 'Tapas/Small Plates',
 'Tacos',
 'American (Traditional)',
 'American (Traditional)',
 'Mediterranean',
 'Nightlife',
 'Smokehouse',
 'Nightlife',
 'Sports Bars',
 'American (New)',
 'Burgers',
 'Cafes',
 'Bars',
 'Lounges',
 'Thai',
 'Beer',
 'Grocery',
 'Pizza',
 'Mexican',
 'Seafood',
 'Sandwiches',
 'Venues & Event Spaces',
 'Nightlife',
 'Sandwiches',
 'Tacos',
 'Burgers',
 'Hotels & Travel',
 'Breakfast & Brunch',
 'Mexican',
 'Pizza',
 'Tacos',
 'Steakhouses',
 'Salad',
 'American (Traditional)',
 'Italian',
 'Mexican',
 'Pizza',
 'Sandwiches',
 'Pubs',
 'Caterers',
 'American (Traditional)',
 'Cocktail Bars',
 'Sandwiches',
 'Nightlife',
 'Japanese',
 'Sandwiches',
 'Vegetarian',
 'Cards & Stationery',
 'Coffee & Tea',
 'Nightlife',
 'Burgers',
 'Nightlife',
 'Butcher',
 'Thai',
 'Nightlife',
 'Cafes',
 'Chinese',
 'Coffee & Tea',
 'Mexican',
 'Event Planning & Services',
 'Automotive',
 'Mexican',
 'Breakfast & Brunch',
 'Event Planning & Services',
 'Cocktail Bars',
 'Coffee & Tea',
 'Ethnic Grocery',
 'Shanghainese',
 'Sushi Bars',
 'Italian',
 'Italian',
 'American (New)',
 'Sandwiches',
 'Pizza',
 'Mexican',
 'Hotels & Travel',
 'Italian',
 'Steakhouses',
 'Chicken Wings',
 'Mexican',
 'Vegan',
 'Sandwiches',
 'Poke',
 'Delis',
 'Breakfast & Brunch',
 'Ethiopian',
 'Indian',
 'American (New)',
 'Tex-Mex',
 'Desserts',
 'Chinese',
 'Beer Bar',
 'Asian Fusion',
 'Hotels',
 'Seafood',
 'Sushi Bars',
 'Flowers & Gifts',
 'Burgers',
 'Diners',
 'Thai',
 'Salad',
 'Steakhouses',
 'Breakfast & Brunch',
 'American (Traditional)',
 'Mexican',
 'Diners',
 'Cafes',
 'Event Planning & Services',
 'Cafes',
 'Syrian',
 'Sushi Bars',
 'Vegan',
 'Chinese',
 'Cafes',
 'Sushi Bars',
 'Caribbean',
 'Chinese',
 'Diners',
 'Burgers',
 'Sandwiches',
 'American (Traditional)',
 'Fish & Chips',
 'Indian',
 'Breakfast & Brunch',
 'Religious Organizations',
 'Chinese',
 'Asian Fusion',
 'Japanese',
 'Middle Eastern',
 'Nightlife',
 'Burgers',
 'Sushi Bars',
 'Mexican',
 'Burgers',
 'Sandwiches',
 'Burgers',
 'Nightlife',
 'American (Traditional)',
 'Japanese',
 'American (Traditional)',
 'American (New)',
 'Event Planning & Services',
 'Mexican',
 'Vegetarian',
 'Seafood',
 'Beauty & Spas',
 'Sports Bars',
 'Ice Cream & Frozen Yogurt',
 'Mexican',
 'Bars',
 'Indian',
 'Mexican',
 'Mexican',
 'Gluten-Free',
 'American (Traditional)',
 'Nightlife',
 'Thai',
 'American (New)',
 'Pizza',
 'Salad',
 'Breakfast & Brunch',
 'Burgers',
 'Chinese',
 'Tacos',
 'Nightlife',
 'Nightlife',
 'Breakfast & Brunch',
 'Sandwiches',
 'Meat Shops',
 'Breakfast & Brunch',
 'Sandwiches',
 'Bakeries',
 'Sushi Bars',
 'Thai',
 'Local Flavor',
 'Barbeque',
 'Pizza',
 'American (Traditional)',
 'Gastropubs',
 'American (Traditional)',
 'Mexican',
 'Japanese Curry',
 'Beer Bar',
 'Breakfast & Brunch',
 'American (Traditional)',
 'Steakhouses',
 'Golf',
 'Teppanyaki',
 'Korean',
 'Bars',
 'American (New)',
 'Greek',
 'Mexican',
 'Italian',
 'Asian Fusion',
 'Mexican',
 'Bars',
 'Cajun/Creole',
 'Sandwiches',
 'Delis',
 'Steakhouses',
 'Indian',
 'Italian',
 'Burgers',
 'Pasta Shops',
 'Sushi Bars',
 'Mexican',
 'Chicken Wings',
 'Breakfast & Brunch',
 'Mexican',
 'Arts & Entertainment',
 'Nightlife',
 'Nightlife',
 'Mexican',
 'Seafood',
 'Italian',
 'Nightlife',
 'Nightlife',
 'Bars',
 'Burgers',
 'Mexican',
 'Gastropubs',
 'Asian Fusion',
 'Seafood',
 'Gluten-Free',
 'Soup',
 'Pizza',
 'American (New)',
 'Burgers',
 'Hotels',
 'Italian',
 'Vietnamese',
 'Coffee & Tea',
 'Barbeque',
 'Sports Bars',
 'Mexican',
 'Basque',
 'Breakfast & Brunch',
 'Bars',
 'Asian Fusion',
 'Diners',
 'Delis',
 'Korean',
 'Breakfast & Brunch',
 'Latin American',
 'Gastropubs',
 'American (New)',
 'Arts & Entertainment',
 'Pizza',
 'Sandwiches',
 'Bars',
 'Beer Gardens',
 'American (New)',
 'Beer',
 'Thai',
 'Pizza',
 'Pizza',
 'Italian',
 'Chinese',
 'Mexican',
 'Bars',
 'Desserts',
 'Mediterranean',
 'Mexican',
 'Caterers',
 'Ethiopian',
 'Sushi Bars',
 'Breakfast & Brunch',
 'Nightlife',
 'Mexican',
 'Coffee & Tea',
 'Cocktail Bars',
 'Tea Rooms',
 'Vietnamese',
 'Salad',
 'Middle Eastern',
 'Soup',
 'Cafes',
 'Bars',
 'Nightlife',
 'Chicken Wings',
 'Mexican',
 'Soup',
 'Mexican',
 'Mexican',
 'Mexican',
 'Vietnamese',
 'Mexican',
 'Pubs',
 'Asian Fusion',
 'Donuts',
 'Event Planning & Services',
 'Chinese',
 'Steakhouses',
 'Salad',
 'Waffles',
 'Korean',
 'Noodles',
 'Burgers',
 'Juice Bars & Smoothies',
 'Mexican',
 'Bars',
 'Thai',
 'Japanese',
 'Chinese',
 'Chinese',
 'Pizza',
 'Mediterranean',
 'Seafood',
 'Thai',
 'Noodles',
 'American (New)',
 'Breakfast & Brunch',
 'Italian',
 'Breakfast & Brunch',
 'Sports Bars',
 'Burgers',
 'Sandwiches',
 'American (New)',
 'Italian',
 'Seafood',
 'Pizza',
 'Mediterranean',
 'Pizza',
 'Burgers',
 'Breakfast & Brunch',
 'Italian',
 'American (Traditional)',
 'American (Traditional)',
 'Japanese',
 'Nightlife',
 'Italian',
 'Pizza',
 'Latin American',
 'Japanese',
 'Cheese Shops',
 'Burgers',
 'Tapas/Small Plates',
 'Salad',
 'Mexican',
 'Desserts',
 'Fondue',
 'Mexican',
 'Steakhouses',
 'Caribbean',
 'Bars',
 'American (New)',
 'Salad',
 'Asian Fusion',
 'Barbeque',
 'Vietnamese',
 'Delis',
 'Tex-Mex',
 'Bakeries',
 'Mexican',
 'Caribbean',
 'Pizza',
 'Nightlife',
 'Sports Bars',
 'Seafood',
 'Sushi Bars',
 'Tacos',
 'Buffets',
 'Soup',
 'Chinese',
 'Burgers',
 'Chicken Shop',
 'Steakhouses',
 'Mediterranean',
 'Local Flavor',
 'Breweries',
 'Sushi Bars',
 'Desserts',
 'Vietnamese',
 'Desserts',
 'American (Traditional)',
 'Bars',
 'American (Traditional)',
 'Mexican',
 'Sushi Bars',
 'Buffets',
 'Pizza',
 'Chinese',
 'Mexican',
 'Nightlife',
 'Burgers',
 'Caterers',
 'Breweries',
 'Pizza',
 'Bakeries',
 'Japanese',
 'Mexican',
 'Vietnamese',
 'Bars',
 'Breakfast & Brunch',
 'American (Traditional)',
 'Asian Fusion',
 'Beer',
 'Coffee & Tea',
 'Hotels & Travel',
 'American (Traditional)',
 'Poke',
 'Salad',
 'African',
 'Caterers',
 'Cocktail Bars',
 'Cajun/Creole',
 'Barbeque',
 'Hawaiian',
 'American (New)',
 'Beer',
 'American (New)',
 'Sandwiches',
 'Hawaiian',
 'Nightlife',
 'American (Traditional)',
 'Street Vendors',
 'Event Planning & Services',
 'Thai',
 'Bakeries',
 'Diners',
 'Indian',
 'Mexican',
 'Sports Bars',
 'Italian',
 'Sushi Bars',
 'American (New)',
 'Chinese',
 'Sandwiches',
 'Sushi Bars',
 'Greek',
 'Mexican',
 'Salad',
 'Japanese',
 'American (Traditional)',
 'Mexican',
 'Steakhouses',
 'Diners',
 'Hawaiian',
 'Mexican',
 'American (New)',
 'Italian',
 'Sandwiches',
 'Burgers',
 'Delis',
 'Mexican',
 'Chinese',
 'Desserts',
 'Burgers',
 'Mexican',
 'Italian',
 'Steakhouses',
 'Bars',
 'Gluten-Free',
 'American (Traditional)',
 'Pizza',
 'Candy Stores',
 'Middle Eastern',
 'Italian',
 'Burgers',
 'Desserts',
 'Sushi Bars',
 'Caribbean',
 'Bars',
 'Mexican',
 'Bars',
 'Peruvian',
 'Coffee & Tea',
 'Burgers',
 'Sandwiches',
 'Korean',
 'Coffee & Tea',
 'Bakeries',
 'Bars']

In [40]:
df_b['category'] = category
df_b.sample(n=10)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,category
387,pBl1CSeYKbWMSrqgglIMDw,Teaspoon,7053 N Oracle Rd,Tucson,AZ,85704,32.335672,-110.978364,4.0,356,1,"{'GoodForMeal': ""{'dessert': False, 'latenight...","Food, Restaurants, Salad, Breakfast & Brunch, ...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-15:0', '...",Salad
282,vr1I1RkSL-m6c-LCAd3O7A,HiFalutin Rapid Western Grill,6780 N Oracle Rd,Tucson,AZ,85704,32.330196,-110.975951,4.0,239,1,"{'BusinessParking': ""{'garage': False, 'street...","Nightlife, Mexican, Barbeque, American (New), ...","{'Monday': '11:0-20:30', 'Tuesday': '16:0-21:0...",Nightlife
281,kuE88EeEQZLNG_GfDbib4w,Karuna's Thai Plate,1917 E Grant Rd,Tucson,AZ,85719,32.250456,-110.943392,4.0,240,0,"{'BikeParking': 'True', 'Alcohol': ""u'none'"", ...","Thai, Restaurants","{'Tuesday': '17:0-21:0', 'Wednesday': '17:0-21...",Thai
288,HoKH4Rk7wHfVT-60aYIYwA,Hotrods Old Vail,10500 E Old Vail Rd,Tucson,AZ,85747,32.080879,-110.768988,2.5,283,1,"{'RestaurantsAttire': ""u'casual'"", 'HasTV': 'T...","Automotive, Bars, Restaurants, American (Tradi...","{'Wednesday': '11:0-21:0', 'Thursday': '11:0-2...",Automotive
493,U_NCpKQDf3z7qSBjvv4U0Q,Cafe Desta,758 S Stone Ave,Tucson,AZ,85701,32.212212,-110.969059,4.5,291,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Ethiopian, Ethnic Food, Food, Specialty Food, ...","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",Ethiopian
470,7PbJjm9Oeq9LqM9zKsF-8g,Seoul Kitchen,6255 E Golf Links Rd,Tucson,AZ,85711,32.192690,-110.859158,3.5,172,0,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Food, Korean, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",Korean
327,KyxAss4DMrT_GMzcOLE2yg,Pho Can Tho By 1,2746 N Campbell Ave,Tucson,AZ,85719,32.256699,-110.943515,4.0,111,1,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Thai, Vegetarian, Vietnamese, Restaurants, Cof...","{'Monday': '11:0-20:0', 'Tuesday': '11:0-20:0'...",Thai
688,AXoq_ze4DyyPDjJk-Ba9Pw,Curry Leaf,"2510 E Grant Rd, Ste 100",Tucson,AZ,85716,32.249948,-110.934740,3.5,128,0,"{'RestaurantsReservations': 'True', 'Restauran...","Restaurants, Desserts, Vegetarian, Chicken Sho...","{'Monday': '0:0-0:0', 'Tuesday': '17:0-21:0', ...",Desserts
89,g4NSr9I8ZWGPTwki5q0ArA,Red's Smokehouse & Tap Room,"943 E University Blvd, Ste 125",Tucson,AZ,85719,32.232040,-110.957230,3.5,116,0,"{'GoodForDancing': 'False', 'BusinessParking':...","Restaurants, Food, American (Traditional), Bar...","{'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ...",American (Traditional)
234,KWKKnD3dSoY8hjJPbIlC4g,Fox & Hound,7625 N La Cholla Blvd,Tucson,AZ,85741,32.344371,-111.013375,3.0,112,0,"{'Ambience': ""{'romantic': False, 'intimate': ...","Restaurants, Smokehouse, Buffets, American (Tr...","{'Monday': '11:0-2:0', 'Tuesday': '11:0-2:0', ...",Smokehouse

In [41]:
df_b['category'].unique()

array(['Salad', 'Mexican', 'Japanese', 'Persian/Iranian', 'Coffee & Tea',
       'Cocktail Bars', 'Sports Bars', 'Nightlife', 'Sushi Bars', 'Delis',
       'Dim Sum', 'Beer', 'Breakfast & Brunch', 'Arts & Entertainment',
       'Vegetarian', 'Tacos', 'Chicken Wings', 'Barbeque', 'Grocery',
       'Burgers', 'Seafood', 'Latin American', 'Italian', 'Chinese',
       'Cafes', 'Bars', 'French', 'Hot Dogs', 'Noodles', 'Bakeries',
       'Sandwiches', 'Cheesesteaks', 'Event Planning & Services',
       'Diners', 'Pizza', 'Caribbean', 'Gastropubs', 'Wine Bars',
       'American (New)', 'Pubs', 'Street Vendors', 'Vietnamese',
       'Steakhouses', 'Tex-Mex', 'Donuts', 'American (Traditional)',
       'Meat Shops', 'Indian', 'Thai', 'Buffets', 'Teppanyaki',
       'Breweries', 'African', 'Ramen', 'Mediterranean', 'Greek', 'Poke',
       'Caterers', 'Lounges', 'Asian Fusion', 'Polish', 'Gluten-Free',
       'Korean', 'Juice Bars & Smoothies', 'Desserts', 'Local Flavor',
       'Chicken Shop', 'Themed Cafes', 'Horseback Riding',
       'Tapas/Small Plates', 'Smokehouse', 'Venues & Event Spaces',
       'Hotels & Travel', 'Cards & Stationery', 'Butcher', 'Automotive',
       'Ethnic Grocery', 'Shanghainese', 'Vegan', 'Ethiopian', 'Beer Bar',
       'Hotels', 'Flowers & Gifts', 'Syrian', 'Fish & Chips',
       'Religious Organizations', 'Middle Eastern', 'Beauty & Spas',
       'Ice Cream & Frozen Yogurt', 'Japanese Curry', 'Golf',
       'Cajun/Creole', 'Pasta Shops', 'Soup', 'Basque', 'Beer Gardens',
       'Tea Rooms', 'Waffles', 'Cheese Shops', 'Fondue', 'Hawaiian',
       'Candy Stores', 'Peruvian'], dtype=object)

In [42]:
df_b = df_b[df_b['category'].isin(['Italian', 'Mexican', 'Ice Cream & Frozen Yogurt', 'Chinese',
       'Pizza', 'French', 'Buffets', 'Bars', 'Sandwiches',
       'Middle Eastern', 'Dive Bars', 'Delis', 'American (Traditional)',
       'Steakhouses', 'Seafood', 'Bakeries', 'Coffee & Tea', 'Japanese',
       'Thai', 'Tapas/Small Plates', 'Southern', 'Korean',
       'Chicken Wings', 'Breakfast & Brunch', 'Street Vendors', 'Burgers',
       'Vegetarian', 'Ramen', 'Filipino', 'Vietnamese'
       'Desserts', 'American (New)', 'Asian Fusion', 'Noodles', 'Tex-Mex', 'Ethiopian', 'Soup', 'Sushi Bars', 'Gluten-Free', 'Beer',
       'Pubs', 'Barbeque', 'Poke', 'Hot Dogs',  'Caribbean','Chicken Shop', 'Cafes', 'Hookah Bars', 'Hawaiian', 'Diners',
       'Waffles', 'Brazilian', 'Latin American', 'Wine Bars',
       'Salad', 'Bagels', 'Argentine', 'Gastropubs', 
       'Lounges', 'Cheesesteaks', 'Tapas Bars', 'Grocery', 'Indian',
       'Butcher', 'Cajun/Creole', 'Modern European', 'Gelato', 'Donuts',
        'Dentists', 'Pasta Shops', 'Greek', 'Mongolian',
       'Bistros', 'Arabian', 'Tacos', 'Cocktail Bars', 
       'Mediterranean', 'Sports Bars',
       'Cantonese','Cafeteria', 'Wineries', 'Taiwanese',
       'Peruvian', 'Szechuan', 'Vegan', 'Coffee Roasteries',
        'Shaved Ice', 'Custom Cakes', 'Patisserie/Cake Shop', 'Spanish',
       'Fish & Chips', 'Tea Rooms', 'Cuban', 'Breweries', 'Shanghainese', 'Bubble Tea',
       'Themed Cafes', 'Teppanyaki', 'Venezuelan', 'Pretzels', 'Creperies', 'Pakistani',
       'Brasseries', 'Singaporean',
       'Japanese Curry', 'German', 'Afghan', 'New Mexican Cuisine',
       'Pan Asian', 'Gay Bars', 'Beer Bar', 'Hot Pot',
       'Seafood Markets', 'Persian/Iranian',
       'Irish', 'Conveyor Belt Sushi','Turkish',
       'Guamanian', 'Falafel', 'Ukrainian', 'Russian',
       'Laotian', 'Smokehouse', 'Puerto Rican',
       'Dinner Theater', 'Piano Bars', 'Beer Gardens','British', 'Lebanese',
        'African', 'Malaysian', 'South African',
       'Belgian', 'Kebab', 'Coffeeshops',
       'Colombian', 'Moroccan',
       'Acai Bowls'])]

In [43]:
len(df_b)

605

In [44]:
df_join_3= df_join_2[df_join_2['business_id'].isin(df_b['business_id'])]

In [45]:
len(df_join_3)

166498

In [46]:
df_temp = pd.merge(df_join_3, df_b[['business_id','category']], on='business_id')
df_temp['category'].unique()

array(['Tacos', 'Sushi Bars', 'Latin American', 'Chinese', 'Vegetarian',
       'Cafes', 'Breakfast & Brunch', 'Cocktail Bars', 'Mexican',
       'Diners', 'Salad', 'Grocery', 'Noodles', 'Bakeries', 'Italian',
       'Sandwiches', 'Bars', 'Delis', 'Barbeque', 'Persian/Iranian',
       'Beer', 'French', 'Chicken Wings', 'Japanese', 'Sports Bars',
       'Hot Dogs', 'Cheesesteaks', 'Burgers', 'Seafood', 'Coffee & Tea',
       'American (Traditional)', 'Pubs', 'Street Vendors', 'Wine Bars',
       'Tex-Mex', 'Greek', 'Steakhouses', 'Gastropubs', 'Ramen',
       'Caribbean', 'Thai', 'Indian', 'Buffets', 'African', 'Teppanyaki',
       'Poke', 'American (New)', 'Donuts', 'Pizza', 'Breweries',
       'Mediterranean', 'Lounges', 'Gluten-Free', 'Chicken Shop',
       'Asian Fusion', 'Korean', 'Themed Cafes', 'Tapas/Small Plates',
       'Smokehouse', 'Butcher', 'Vegan', 'Beer Bar', 'Shanghainese',
       'Ethiopian', 'Fish & Chips', 'Ice Cream & Frozen Yogurt',
       'Cajun/Creole', 'Middle Eastern', 'Japanese Curry', 'Soup',
       'Pasta Shops', 'Beer Gardens', 'Waffles', 'Tea Rooms', 'Hawaiian',
       'Peruvian'], dtype=object)