In [4]:
import pandas as pd
import numpy as np

In [5]:
# Load Data
df_b = pd.read_csv('../datasets/comunidades/business_community_1.csv')
df = pd.read_csv('../datasets/comunidades/review_community_1.csv')
users = pd.read_csv('../datasets/comunidades/user_community_1.csv')

In [6]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,ymhbOMW63B_vGaRFR3XT0A,yZdAhQ_KmKuCZmbBy9YDQg,5Ce3lZksYVkCbrihqylVHQ,5,0,0,0,I just started going to Sushi Nara this month ...,2014-07-25 17:56:26
1,9ntCEU8M_YBa0TIxxM1roA,BMXA8HiAuOQboRikPt6Xgg,XyGRDrgCK0z4CiA6nhwEaw,3,3,2,0,Ok. I have had Persian food before as it is on...,2018-07-17 02:44:51
2,KubhmZ6MADKfAh0TucXZeQ,iW4scl2ezCV6IGfOk6OtyQ,xwKYBPO0ByGlkvNcr8FdqQ,5,0,0,0,"Always outstanding. This evening, they were a ...",2017-04-30 03:57:53
3,jT0mpPypQH_eFoyIHhuM6A,To1Pq4io8oCT8f6ryRdPeQ,5Ce3lZksYVkCbrihqylVHQ,5,2,0,3,My kitty and I love this sushi place!! We love...,2015-10-07 23:33:00
4,mr8-n6rmPXqgAe0O5YG0jQ,4RZJaKdymRQ5z59ZMFznTQ,xwKYBPO0ByGlkvNcr8FdqQ,5,2,0,1,I took my gf for our one year anniversary here...,2014-09-10 04:16:53

In [7]:
df_b.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,XyGRDrgCK0z4CiA6nhwEaw,Persian Room Fine Dining,"9290 N Thornydale Rd, Ste 100",Tucson,AZ,85742,32.375016,-111.046320,4.5,258,1,"{'Alcohol': ""'full_bar'"", 'GoodForMeal': ""{'de...","Restaurants, Persian/Iranian, Mediterranean","{'Monday': '11:0-21:30', 'Tuesday': '11:0-21:3..."
1,5Ce3lZksYVkCbrihqylVHQ,Sushi Nara,64 N Harrison Rd,Tucson,AZ,85748,32.222552,-110.788132,4.5,159,1,"{'RestaurantsPriceRange2': '2', 'HasTV': 'True...","Sushi Bars, Japanese, Restaurants","{'Monday': '16:30-20:0', 'Tuesday': '16:30-20:..."
2,xwKYBPO0ByGlkvNcr8FdqQ,Le Rendez-vous,3844 E Fort Lowell Rd,Tucson,AZ,85716,32.264930,-110.910544,4.0,223,1,"{'BusinessParking': ""{'garage': False, 'street...","Restaurants, French, Tapas/Small Plates","{'Wednesday': '16:0-21:0', 'Thursday': '16:0-2..."
3,SVJJIoAiW3vHwoSpVnUcLQ,Pastiche Modern Eatery,3025 N Campbell Ave,Tucson,AZ,85719,32.261920,-110.944474,3.5,313,1,"{'WiFi': ""'free'"", 'HasTV': 'True', 'Restauran...","American (New), American (Traditional), Restau...","{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ..."
4,p7tSGmWpFV246aYhwODgBg,O Sushi Restaurant,4689 E Speedway Blvd,Tucson,AZ,85712,32.236944,-110.892965,4.5,199,1,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","Sushi Bars, Restaurants, Japanese","{'Monday': '16:30-20:30', 'Tuesday': '16:30-20..."

In [8]:
users.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,1sGYXSkJHPhJ6wQtc-RbZw,Kimberly,820,2009-07-12 01:03:14,5441,2976,4264,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","9w4vI3LRTA4JdJyzOxeEMw, fNSGyM1NJ91CTO_VfJ5asQ...",149,...,31,43,12,8,154,403,541,541,265,148
1,2YKkLFeOx-0zRcWp0KUv_Q,Mark,564,2010-06-07 21:08:02,2158,1026,1068,"2011,2012,2013,2014,2015,2016,2017,2018,2019,2...","qumjKpb34tsSJ26Y2aaTPg, fHxHETYCW-hJhPrEVNN3hA...",63,...,11,3,2,17,102,288,260,260,126,6
2,5BpJEC8YVi80ecWT5CtlfQ,Jenny,2739,2008-09-11 01:51:00,17333,11441,14336,"2010,2011,2012,2013,2014,2015,2016,2017,2018,2...","nqyyLmjNdS22H0yKSu6-YQ, eVUmxx1kN-Acni0t7gcg3g...",427,...,190,168,52,75,508,1564,2415,2415,1035,1139
3,kF2sEC2B1nJlxVFr_jaEQA,Lara,198,2009-02-06 16:15:32,305,56,121,"2010,2011","-MRW5b_OiA4833cL4v53jQ, eW-IQGFyOcqg-aKuhxKf3g...",10,...,3,2,0,0,14,17,14,14,8,1
4,zdw1jwmw1TNLZgu_is_Seg,Pam,108,2011-03-21 03:27:57,214,52,85,"2011,2012,2013","fwOSFdqvyvG4B-jNaseceQ, 0ED7A-Tae6OKYL1hkD4tSA...",8,...,0,0,1,0,15,2,18,18,5,2

In [9]:
df_join=df.merge(df_b[["business_id","name"]],how="inner",on="business_id")
df_join.head(10)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,name
0,ymhbOMW63B_vGaRFR3XT0A,yZdAhQ_KmKuCZmbBy9YDQg,5Ce3lZksYVkCbrihqylVHQ,5,0,0,0,I just started going to Sushi Nara this month ...,2014-07-25 17:56:26,Sushi Nara
1,jT0mpPypQH_eFoyIHhuM6A,To1Pq4io8oCT8f6ryRdPeQ,5Ce3lZksYVkCbrihqylVHQ,5,2,0,3,My kitty and I love this sushi place!! We love...,2015-10-07 23:33:00,Sushi Nara
2,RkpAuBy0Oi-zqGvfh76Tuw,fGYAraOy6CFZeg8-YRyMxw,5Ce3lZksYVkCbrihqylVHQ,5,3,0,0,"Great bang for your buck, sushi was fresh and ...",2018-06-09 03:48:32,Sushi Nara
3,VI3-W_oNX1ROBHgUZWs2cw,pHmgeQkvhJPDGdqVw7AmtQ,5Ce3lZksYVkCbrihqylVHQ,5,2,0,0,Good service and nice a quit at lunch time eve...,2018-07-17 20:19:21,Sushi Nara
4,7HtOcNgZXEmikXjB3bFfhA,Gu5NAzjgp6hwuxMHgQL0ng,5Ce3lZksYVkCbrihqylVHQ,4,8,0,8,A welcome addition to the growing number of ex...,2014-12-01 22:58:17,Sushi Nara
5,HVXgyuEYfpPzG9vZ-rTpGQ,LUrY9f-pEudeBwTkbw4JWw,5Ce3lZksYVkCbrihqylVHQ,3,1,3,0,....meh....\n\n my husband and I are big sushi...,2015-05-17 02:29:56,Sushi Nara
6,KJ1TrX11MTRsz8OhhGLdiQ,dmsz__xB7hIh2KPhUfSPBw,5Ce3lZksYVkCbrihqylVHQ,4,5,0,4,"Based on the exceptional reviews, my wife and ...",2015-02-07 04:31:33,Sushi Nara
7,6nyPiHlFJSR91pcQzSfHDg,cJmzXpTlAgTyTx4YFC1MKg,5Ce3lZksYVkCbrihqylVHQ,5,2,0,2,"Sushi Nara is awesome- always fresh, well prep...",2016-04-26 05:14:03,Sushi Nara
8,Nf3jZC1jYKkQS1ohnBeEuQ,fRdb00MgeCElpJule1YLhQ,5Ce3lZksYVkCbrihqylVHQ,5,2,0,2,"Great little sushi place, especially for a nov...",2015-09-26 03:33:45,Sushi Nara
9,JSBIDtK_XifkMl2AMmbY6Q,Po4BCvGrKtP_OfZwMUp87g,5Ce3lZksYVkCbrihqylVHQ,4,1,0,0,Great sushi. Nice service. Long wait if it's a...,2017-03-17 02:56:09,Sushi Nara

In [10]:
df_join_2=df_join.drop(columns=['review_id','useful', 'funny','cool', 'text', 'date'])
df_join_2.head()

                  user_id             business_id  stars        name
0  yZdAhQ_KmKuCZmbBy9YDQg  5Ce3lZksYVkCbrihqylVHQ      5  Sushi Nara
1  To1Pq4io8oCT8f6ryRdPeQ  5Ce3lZksYVkCbrihqylVHQ      5  Sushi Nara
2  fGYAraOy6CFZeg8-YRyMxw  5Ce3lZksYVkCbrihqylVHQ      5  Sushi Nara
3  pHmgeQkvhJPDGdqVw7AmtQ  5Ce3lZksYVkCbrihqylVHQ      5  Sushi Nara
4  Gu5NAzjgp6hwuxMHgQL0ng  5Ce3lZksYVkCbrihqylVHQ      4  Sushi Nara

## Every Restaruant has an avg users rating of 2.85

In [11]:
df_join_2.groupby('user_id')['stars'].count().mean()

1.2842086459449804

In [12]:
ratings = df_join_2['stars']
users = df_join_2['user_id']
items = df_join_2['business_id']

In [13]:
from sklearn.preprocessing import LabelEncoder

# heavy lifting encoders
user_encoder = LabelEncoder()
item_encoder = LabelEncoder()

# preparation for the csr matrix
u = user_encoder.fit_transform(users)
i = item_encoder.fit_transform(items)
lu = len(np.unique(u))
li = len(np.unique(i))

In [14]:
from scipy.sparse import csr_matrix

class InteractionMachine:
    def __init__(self):
        self.user_encoder = LabelEncoder()
        self.item_encoder = LabelEncoder()

    def __repr__(self):
        return 'InteractionMachine()'

    def build(self, users, items, ratings):
        u = self.user_encoder.fit_transform(users)
        i = self.item_encoder.fit_transform(items)
        self.n_users = len(np.unique(u))
        self.n_items = len(np.unique(i))
        self.interactions = csr_matrix((ratings, (u, i)), shape=(self.n_users, self.n_items))
        return self

In [15]:
im = InteractionMachine()

im.build(df_join_2['user_id'], df_join_2['business_id'], df_join_2['stars'])

interactions = im.interactions

In [16]:
interactions.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 5, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [17]:
from lightfm import LightFM
from lightfm.datasets import fetch_movielens
from lightfm.evaluation import precision_at_k

C:\ProgramData\Anaconda3\lib\site-packages\lightfm\_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn(

In [18]:
from scipy.sparse import csr_matrix

In [19]:
# do this
from lightfm.cross_validation import random_train_test_split

In [20]:
seed = 1001
train, test = random_train_test_split(interactions, test_percentage=0.2)

In [21]:
train

<5598x34 sparse matrix of type '<class 'numpy.int64'>'
	with 5507 stored elements in COOrdinate format>

In [22]:
test

<5598x34 sparse matrix of type '<class 'numpy.int64'>'
	with 1377 stored elements in COOrdinate format>

In [23]:
model = LightFM()
model.fit(train, epochs=50)

In [24]:
from lightfm.evaluation import auc_score, precision_at_k

In [25]:
auc_score(model, test).mean()

0.66149276

In [26]:
df_join_2.sample(n=5)

,user_id,business_id,stars,name
4706,lgxCqDMnowyx1Q5fLdLPCA,7PbJjm9Oeq9LqM9zKsF-8g,4,Seoul Kitchen
1636,pOi89mLu4ivFmcoxMcBjfw,aDL_KdxbDRT5s51Jtn9V5g,5,Charro del Rey
4834,FF7w5iaWZQy1JnrO7hKXEw,KZA_HEOsBXf8dtrk9rqNJA,5,Prep & Pastry on Grant
3378,fLXQEc1n_R5_smkyV17PyQ,jZ1rUspubgkuZjwKJMhEEw,5,MOD Pizza
6648,y0Grq0WeLf7wYUhQ44z4iA,g9DDXMuDwaW-GtD2f6xl6A,5,Breakfast Stop

In [30]:
df_join_2[df_join_2['user_id'] == 'lgxCqDMnowyx1Q5fLdLPCA']

                     user_id             business_id  stars           name
4706  lgxCqDMnowyx1Q5fLdLPCA  7PbJjm9Oeq9LqM9zKsF-8g      4  Seoul Kitchen

In [31]:
one_user = 'lgxCqDMnowyx1Q5fLdLPCA'

In [32]:
user_num = int(im.user_encoder.transform([one_user])[0])
user_num

4361

In [33]:
preds = model.predict(user_num, list(range(im.n_items)))
preds = pd.DataFrame(zip(preds, im.item_encoder.classes_), columns=['pred', 'business_id'])
preds = preds.sort_values('pred', ascending=False)
preds.head(10)

        pred             business_id
9   5.180359  KZA_HEOsBXf8dtrk9rqNJA
11  4.910201  RHdEScVIAQ7xzFFMiQEnAQ
6   4.794450  CJoO4HYD0tZRXlZqA04wmw
27  4.595120  nEaTbGFlU7d9eLU2kl6KBw
13  4.460433  SVJJIoAiW3vHwoSpVnUcLQ
15  4.305081  XyGRDrgCK0z4CiA6nhwEaw
26  4.218268  l8yqThofpWGUs6lxOeIdOA
23  4.204150  hzXAxu35F32Ob9uVCh-dIQ
0   4.132064  5CX7rtnwYnmqFCihOyWivg
32  4.123035  xwKYBPO0ByGlkvNcr8FdqQ

In [34]:
resultado=preds.merge(df_join_2[["business_id","name"]],how="inner",on="business_id")
resultado.drop_duplicates(inplace=True)
resultado.head(10)

          pred             business_id                               name
0     5.180359  KZA_HEOsBXf8dtrk9rqNJA             Prep & Pastry on Grant
670   4.910201  RHdEScVIAQ7xzFFMiQEnAQ                    The Quesadillas
1187  4.794450  CJoO4HYD0tZRXlZqA04wmw                   Crave Coffee Bar
1635  4.595120  nEaTbGFlU7d9eLU2kl6KBw               Taqueria El Pueblito
2012  4.460433  SVJJIoAiW3vHwoSpVnUcLQ             Pastiche Modern Eatery
2345  4.305081  XyGRDrgCK0z4CiA6nhwEaw           Persian Room Fine Dining
2613  4.218268  l8yqThofpWGUs6lxOeIdOA        Shish Kebab House of Tucson
2876  4.204150  hzXAxu35F32Ob9uVCh-dIQ                  Thai China Bistro
3130  4.132064  5CX7rtnwYnmqFCihOyWivg  Opa's Best Greek American Cuisine
3376  4.123035  xwKYBPO0ByGlkvNcr8FdqQ                     Le Rendez-vous

In [35]:
from copy import deepcopy

model = LightFM(loss='warp')

count = 0
best = 0
scores = []
for e in range(100):
    if count > 5: # patience
        break
    model.fit_partial(train, epochs=10)
    auc_train = auc_score(model, train).mean()
    auc_test = auc_score(model, test).mean()
    print(f'Epoch: {e}, Train AUC={auc_train:.3f}, Test AUC={auc_test:.3f}')
    scores.append((auc_train, auc_test))
    if auc_test > best:
        best_model = deepcopy(model)
        best = auc_test
    else:
        count += 1

model = deepcopy(best_model)

Epoch: 0, Train AUC=0.995, Test AUC=0.621
Epoch: 1, Train AUC=0.998, Test AUC=0.613
Epoch: 2, Train AUC=0.998, Test AUC=0.615
Epoch: 3, Train AUC=0.999, Test AUC=0.616
Epoch: 4, Train AUC=0.999, Test AUC=0.616
Epoch: 5, Train AUC=0.999, Test AUC=0.616
Epoch: 6, Train AUC=0.999, Test AUC=0.615

In [36]:
# Set the number of threads; you can increase this if you have more physical cores available.

## These parameters are obtained after tunning for specific loss through skopt in the bottom chunk
NUM_THREADS = 25
NUM_COMPONENTS = 43
NUM_EPOCHS = 18
ITEM_ALPHA = 2.88752e-6
learning_rate=0.06652
k = 5 # for precision at k

## Pure Collaborative Filtering models

# Logistic loss
model_1 = LightFM(loss='logistic',random_state=seed,
                  item_alpha=ITEM_ALPHA,
                  no_components=NUM_COMPONENTS,
                  learning_rate=learning_rate)

# time it.
%time model_1 = model_1.fit(train,epochs=NUM_EPOCHS,num_threads=NUM_THREADS)


# Import the evaluation routines
from lightfm.evaluation import auc_score

# Compute and print the AUC score
train_auc = auc_score(model_1, train, num_threads=NUM_THREADS).mean()
print('Collaborative filtering train AUC: %s' % train_auc)

test_auc = auc_score(model_1, test,num_threads=NUM_THREADS).mean()
print('Collaborative filtering test AUC: %s' % test_auc)

from lightfm.evaluation import precision_at_k,recall_at_k

print("Train precision: %.4f" % precision_at_k(model_1, train, k=k,num_threads=NUM_THREADS).mean())
print("Test precision: %.4f" % precision_at_k(model_1, test,train_interactions=train, k=k,num_threads=NUM_THREADS).mean())

Wall time: 628 ms
Collaborative filtering train AUC: 0.65023124
Collaborative filtering test AUC: 0.6609288
Train precision: 0.0775
Test precision: 0.0737

In [37]:
NUM_THREADS = 25
NUM_COMPONENTS = 45
NUM_EPOCHS = 43
ITEM_ALPHA = 1.3846e-6
learning_rate=0.0161445

# BPR loss
model = LightFM(loss='bpr',random_state=seed,
                item_alpha=ITEM_ALPHA,
                no_components=NUM_COMPONENTS,
                learning_rate=learning_rate)

# time it.
%time model = model.fit(train,epochs=NUM_EPOCHS,num_threads=NUM_THREADS)


# Compute and print the AUC score
train_auc = auc_score(model, train, num_threads=NUM_THREADS).mean()
print('Collaborative filtering train AUC: %s' % train_auc)

test_auc = auc_score(model, test,num_threads=NUM_THREADS).mean()
print('Collaborative filtering test AUC: %s' % test_auc)

print("Train precision: %.4f" % precision_at_k(model, train, k=k,num_threads=NUM_THREADS).mean())
print("Test precision: %.4f" % precision_at_k(model, test,train_interactions=train, k=k,num_threads=NUM_THREADS).mean())

Wall time: 2.56 s
Collaborative filtering train AUC: 0.9757559
Collaborative filtering test AUC: 0.43597123
Train precision: 0.2185
Test precision: 0.0385

In [38]:
NUM_THREADS = 25
NUM_COMPONENTS = 21
NUM_EPOCHS = 16
ITEM_ALPHA = 5.97967e-6
learning_rate=0.033

# Let's fit a WARP model
model = LightFM(loss='warp',random_state=seed,
                item_alpha=ITEM_ALPHA,
                no_components=NUM_COMPONENTS,
                learning_rate=learning_rate)

#  time it.
%time model = model.fit(train,epochs=NUM_EPOCHS,num_threads=NUM_THREADS)



# Compute and print the AUC score
train_auc = auc_score(model, train, num_threads=NUM_THREADS).mean()
print('Collaborative filtering train AUC: %s' % train_auc)

test_auc = auc_score(model, test,num_threads=NUM_THREADS).mean()
print('Collaborative filtering test AUC: %s' % test_auc)


print("Train precision: %.4f" % precision_at_k(model, train, k=k,num_threads=NUM_THREADS).mean())
print("Test precision: %.4f" % precision_at_k(model, test,train_interactions=train, k=k,num_threads=NUM_THREADS).mean())

Wall time: 236 ms
Collaborative filtering train AUC: 0.99972314
Collaborative filtering test AUC: 0.62366384
Train precision: 0.2366
Test precision: 0.0652

In [39]:
df_join_2[df_join_2['name'].str.contains('India')]

,user_id,business_id,stars,name
3897,QHV7uihQRPTp2CycrUMDEw,eGi7CE2YaN6YMiGyXNi8XQ,5,Spice Garden Indian Cuisine
3898,NnYg5enyiFnwvnIeJqptzw,eGi7CE2YaN6YMiGyXNi8XQ,5,Spice Garden Indian Cuisine
3899,FmKnD1wxnjoK0UMpgujzOg,eGi7CE2YaN6YMiGyXNi8XQ,5,Spice Garden Indian Cuisine
3900,-BT7yKvo-CY0apW8xzNntg,eGi7CE2YaN6YMiGyXNi8XQ,5,Spice Garden Indian Cuisine
3901,iDqGoOiOGlNHZgU6TWqBtA,eGi7CE2YaN6YMiGyXNi8XQ,5,Spice Garden Indian Cuisine
...,...,...,...,...
4004,AsKvg4uvDRRQ2nfrqOinsA,eGi7CE2YaN6YMiGyXNi8XQ,5,Spice Garden Indian Cuisine
4005,uqYMlKdwgh6nRo7rY1Mi5A,eGi7CE2YaN6YMiGyXNi8XQ,2,Spice Garden Indian Cuisine
4006,uK2L7X8zmHP1JfDQAzuKNg,eGi7CE2YaN6YMiGyXNi8XQ,3,Spice Garden Indian Cuisine
4007,saZJk7eOLxTWCHwubJDXpw,eGi7CE2YaN6YMiGyXNi8XQ,5,Spice Garden Indian Cuisine
4008,VTUxik1f0cSRGBsUa2rb-Q,eGi7CE2YaN6YMiGyXNi8XQ,5,Spice Garden Indian Cuisine

In [42]:
df_join_2[df_join_2['user_id'] == 'QHV7uihQRPTp2CycrUMDEw']

,user_id,business_id,stars,name
3897,QHV7uihQRPTp2CycrUMDEw,eGi7CE2YaN6YMiGyXNi8XQ,5,Spice Garden Indian Cuisine

In [43]:
one_user = 'QHV7uihQRPTp2CycrUMDEw'
user_num = int(im.user_encoder.transform([one_user])[0])
preds = model.predict(user_num, list(range(im.n_items)))
preds = pd.DataFrame(zip(preds, im.item_encoder.classes_), columns=['pred', 'business_id'])
preds = preds.sort_values('pred', ascending=False)
preds.head(10)

        pred             business_id
19  1.824517  eGi7CE2YaN6YMiGyXNi8XQ
16  0.628615  aDL_KdxbDRT5s51Jtn9V5g
33  0.532321  yRs15dgEYvxGatbDyeVXiA
0   0.306343  5CX7rtnwYnmqFCihOyWivg
5   0.239239  AbeWP7_Vxhp45I9IPZ7Otg
9   0.178162  KZA_HEOsBXf8dtrk9rqNJA
13  0.122106  SVJJIoAiW3vHwoSpVnUcLQ
21  0.074926  g9DDXMuDwaW-GtD2f6xl6A
12  0.027211  RIQ5ALCz1-oi98ViCO7kgQ
6   0.021005  CJoO4HYD0tZRXlZqA04wmw

In [44]:
one_user = 'QHV7uihQRPTp2CycrUMDEw'
user_num = int(im.user_encoder.transform([one_user])[0])
preds = model.predict(user_num, list(range(im.n_items)))
preds = pd.DataFrame(zip(preds, im.item_encoder.classes_), columns=['pred', 'business_id'])
preds = preds.sort_values('pred', ascending=False)
preds.head()

        pred             business_id
19  1.824517  eGi7CE2YaN6YMiGyXNi8XQ
16  0.628615  aDL_KdxbDRT5s51Jtn9V5g
33  0.532321  yRs15dgEYvxGatbDyeVXiA
0   0.306343  5CX7rtnwYnmqFCihOyWivg
5   0.239239  AbeWP7_Vxhp45I9IPZ7Otg

In [45]:
df_b.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,XyGRDrgCK0z4CiA6nhwEaw,Persian Room Fine Dining,"9290 N Thornydale Rd, Ste 100",Tucson,AZ,85742,32.375016,-111.046320,4.5,258,1,"{'Alcohol': ""'full_bar'"", 'GoodForMeal': ""{'de...","Restaurants, Persian/Iranian, Mediterranean","{'Monday': '11:0-21:30', 'Tuesday': '11:0-21:3..."
1,5Ce3lZksYVkCbrihqylVHQ,Sushi Nara,64 N Harrison Rd,Tucson,AZ,85748,32.222552,-110.788132,4.5,159,1,"{'RestaurantsPriceRange2': '2', 'HasTV': 'True...","Sushi Bars, Japanese, Restaurants","{'Monday': '16:30-20:0', 'Tuesday': '16:30-20:..."
2,xwKYBPO0ByGlkvNcr8FdqQ,Le Rendez-vous,3844 E Fort Lowell Rd,Tucson,AZ,85716,32.264930,-110.910544,4.0,223,1,"{'BusinessParking': ""{'garage': False, 'street...","Restaurants, French, Tapas/Small Plates","{'Wednesday': '16:0-21:0', 'Thursday': '16:0-2..."
3,SVJJIoAiW3vHwoSpVnUcLQ,Pastiche Modern Eatery,3025 N Campbell Ave,Tucson,AZ,85719,32.261920,-110.944474,3.5,313,1,"{'WiFi': ""'free'"", 'HasTV': 'True', 'Restauran...","American (New), American (Traditional), Restau...","{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ..."
4,p7tSGmWpFV246aYhwODgBg,O Sushi Restaurant,4689 E Speedway Blvd,Tucson,AZ,85712,32.236944,-110.892965,4.5,199,1,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","Sushi Bars, Restaurants, Japanese","{'Monday': '16:30-20:30', 'Tuesday': '16:30-20..."

In [46]:
category = []
for i, x in df_b.iterrows():
    lis = x['categories'].split(', ')
    for j in lis:
        if any(substring in j for substring in ['Restaurants','Food']):
            pass
        else:
            value = j
            break
    if value:
        value.strip()
        category.append(value)
    else:
        category = 'None'

In [47]:
category

['Persian/Iranian',
 'Sushi Bars',
 'French',
 'American (New)',
 'Sushi Bars',
 'Mexican',
 'Tacos',
 'American (Traditional)',
 'Mediterranean',
 'Coffee & Tea',
 'Korean',
 'Bakeries',
 'Japanese',
 'Mediterranean',
 'Tacos',
 'Pizza',
 'Mexican',
 'Indian',
 'Tacos',
 'Mexican',
 'Seafood',
 'Korean',
 'Latin American',
 'American (New)',
 'Pizza',
 'Mexican',
 'Salad',
 'Thai',
 'Seafood',
 'Pizza',
 'Mexican',
 'Thai',
 'Italian',
 'Mexican']

In [48]:
df_b['category'] = category
df_b.sample(n=10)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,category
1,5Ce3lZksYVkCbrihqylVHQ,Sushi Nara,64 N Harrison Rd,Tucson,AZ,85748,32.222552,-110.788132,4.5,159,1,"{'RestaurantsPriceRange2': '2', 'HasTV': 'True...","Sushi Bars, Japanese, Restaurants","{'Monday': '16:30-20:0', 'Tuesday': '16:30-20:...",Sushi Bars
19,a_oRfgkNFnulTada--P_Tg,Sonoran Brunch Company,1060 S Kolb Rd,Tucson,AZ,85710,32.208003,-110.841514,4.5,163,1,"{'HasTV': 'True', 'BusinessAcceptsCreditCards'...","Restaurants, Mexican, Breakfast & Brunch","{'Thursday': '9:0-14:0', 'Friday': '9:0-14:0',...",Mexican
12,LXR1f2ayOSq7w-Ux7UPUtg,Ichiban Japanese Restaurant,"64 N Harrison Rd, Ste 120",Tucson,AZ,85748,32.222546,-110.788133,3.5,103,0,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Japanese, Sushi Bars, Restaurants","{'Monday': '11:30-21:30', 'Tuesday': '11:30-21...",Japanese
30,g9DDXMuDwaW-GtD2f6xl6A,Breakfast Stop,6135 E 22nd St,Tucson,AZ,85711,32.207339,-110.861564,4.0,103,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Mexican, Breakfast & Brunch, Restaurants","{'Monday': '0:0-0:0', 'Tuesday': '16:0-22:0', ...",Mexican
14,RHdEScVIAQ7xzFFMiQEnAQ,The Quesadillas,2418 N Craycroft Rd,Tucson,AZ,85712,32.251318,-110.875013,4.5,499,1,"{'RestaurantsTableService': 'False', 'Restaura...","Tacos, Restaurants, Mexican","{'Monday': '0:0-0:0', 'Tuesday': '10:0-20:0', ...",Tacos
8,5CX7rtnwYnmqFCihOyWivg,Opa's Best Greek American Cuisine,4590 E Broadway Blvd,Tucson,AZ,85711,32.221171,-110.894790,4.5,230,1,"{'RestaurantsTakeOut': 'True', 'WheelchairAcce...","Mediterranean, Restaurants, Greek","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ...",Mediterranean
24,FjRH6l8aQOmfXuo00lheLA,Broadway Pizza Cafe,4558 E Broadway Blvd,Tucson,AZ,85711,32.220870,-110.895320,4.5,134,0,"{'RestaurantsPriceRange2': '1', 'RestaurantsTa...","Restaurants, Pizza, Food","{'Monday': '0:0-0:0', 'Tuesday': '11:0-20:0', ...",Pizza
33,yRs15dgEYvxGatbDyeVXiA,Costa Vida,6307 E Broadway Blvd,Tucson,AZ,85710,32.222768,-110.857586,4.0,106,1,"{'Alcohol': ""'none'"", 'RestaurantsTakeOut': 'T...","Mexican, Salad, Restaurants","{'Monday': '0:0-0:0', 'Tuesday': '10:30-21:0',...",Mexican
23,KZA_HEOsBXf8dtrk9rqNJA,Prep & Pastry on Grant,"6450 E Grant Rd, Ste 160",Tucson,AZ,85715,32.250141,-110.854983,4.5,649,1,"{'BusinessAcceptsBitcoin': 'False', 'BikeParki...","American (New), Restaurants, Breakfast & Brunch","{'Monday': '0:0-0:0', 'Tuesday': '7:0-15:0', '...",American (New)
20,AL89lQXFfE0HpbTvpxuSkA,Bob's Steak & Chop House,2727 W Club Dr,Tucson,AZ,85742,32.357854,-111.025531,4.0,112,1,"{'RestaurantsDelivery': 'False', 'WiFi': ""u'fr...","Restaurants, Seafood, Steakhouses","{'Tuesday': '17:0-21:0', 'Wednesday': '17:0-21...",Seafood

In [49]:
df_b['category'].unique()

array(['Persian/Iranian', 'Sushi Bars', 'French', 'American (New)',
       'Mexican', 'Tacos', 'American (Traditional)', 'Mediterranean',
       'Coffee & Tea', 'Korean', 'Bakeries', 'Japanese', 'Pizza',
       'Indian', 'Seafood', 'Latin American', 'Salad', 'Thai', 'Italian'],
      dtype=object)

In [50]:
df_b = df_b[df_b['category'].isin(['Italian', 'Mexican', 'Ice Cream & Frozen Yogurt', 'Chinese',
       'Pizza', 'French', 'Buffets', 'Bars', 'Sandwiches',
       'Middle Eastern', 'Dive Bars', 'Delis', 'American (Traditional)',
       'Steakhouses', 'Seafood', 'Bakeries', 'Coffee & Tea', 'Japanese',
       'Thai', 'Tapas/Small Plates', 'Southern', 'Korean',
       'Chicken Wings', 'Breakfast & Brunch', 'Street Vendors', 'Burgers',
       'Vegetarian', 'Ramen', 'Filipino', 'Vietnamese'
       'Desserts', 'American (New)', 'Asian Fusion', 'Noodles', 'Tex-Mex', 'Ethiopian', 'Soup', 'Sushi Bars', 'Gluten-Free', 'Beer',
       'Pubs', 'Barbeque', 'Poke', 'Hot Dogs',  'Caribbean','Chicken Shop', 'Cafes', 'Hookah Bars', 'Hawaiian', 'Diners',
       'Waffles', 'Brazilian', 'Latin American', 'Wine Bars',
       'Salad', 'Bagels', 'Argentine', 'Gastropubs', 
       'Lounges', 'Cheesesteaks', 'Tapas Bars', 'Grocery', 'Indian',
       'Butcher', 'Cajun/Creole', 'Modern European', 'Gelato', 'Donuts',
        'Dentists', 'Pasta Shops', 'Greek', 'Mongolian',
       'Bistros', 'Arabian', 'Tacos', 'Cocktail Bars', 
       'Mediterranean', 'Sports Bars',
       'Cantonese','Cafeteria', 'Wineries', 'Taiwanese',
       'Peruvian', 'Szechuan', 'Vegan', 'Coffee Roasteries',
        'Shaved Ice', 'Custom Cakes', 'Patisserie/Cake Shop', 'Spanish',
       'Fish & Chips', 'Tea Rooms', 'Cuban', 'Breweries', 'Shanghainese', 'Bubble Tea',
       'Themed Cafes', 'Teppanyaki', 'Venezuelan', 'Pretzels', 'Creperies', 'Pakistani',
       'Brasseries', 'Singaporean',
       'Japanese Curry', 'German', 'Afghan', 'New Mexican Cuisine',
       'Pan Asian', 'Gay Bars', 'Beer Bar', 'Hot Pot',
       'Seafood Markets', 'Persian/Iranian',
       'Irish', 'Conveyor Belt Sushi','Turkish',
       'Guamanian', 'Falafel', 'Ukrainian', 'Russian',
       'Laotian', 'Smokehouse', 'Puerto Rican',
       'Dinner Theater', 'Piano Bars', 'Beer Gardens','British', 'Lebanese',
        'African', 'Malaysian', 'South African',
       'Belgian', 'Kebab', 'Coffeeshops',
       'Colombian', 'Moroccan',
       'Acai Bowls'])]

In [51]:
len(df_b)

34

In [52]:
df_join_3= df_join_2[df_join_2['business_id'].isin(df_b['business_id'])]

In [53]:
len(df_join_3)

7189

In [54]:
df_temp = pd.merge(df_join_3, df_b[['business_id','category']], on='business_id')
df_temp['category'].unique()

array(['Sushi Bars', 'Persian/Iranian', 'French', 'American (New)',
       'American (Traditional)', 'Mediterranean', 'Mexican', 'Tacos',
       'Japanese', 'Coffee & Tea', 'Bakeries', 'Korean', 'Pizza',
       'Indian', 'Seafood', 'Latin American', 'Salad', 'Thai', 'Italian'],
      dtype=object)